* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    color: black;
    font-size: 15;
}

body {
    background-color: #3484c6;
}


#map {
    height: 90vh;
    width: 100%;
    transition: all .5s ease-in-out
}

.title {
    font-weight: 600;
}

#container {
    text-align: center;
    height: 10vh;
    padding-top: 5px;
    transition: all .5s ease-in-out
}

#title {
    color: lightgray;
    font-size: 40px;
    font-weight: 600;
    padding-top: 5px;
}

#filter {
    color: lightgray;
    font-size: 12px;
}


@media (max-width: 500px) {
    #map {
        height: 80vh;
    }

    #container {
        height: 20vh;
    }
}

